@media screen and (max-device-width: 1024px) and (orientation: landscape) {
	#introBg {
		-webkit-background-size: auto 1024px;					
	}

	img#skills {
		display: none;
	}
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) {
	#introBg {
		-webkit-background-size: auto 1400px;					
	}
	
	nav ul {
		left: 18%;
		width:80%;
	}

	nav ul li,
	address ul li {
		font-size:2em;
		padding:  0 40px 0 0;
		margin-bottom: 17px;
	}

	nav ul li:first-child,
	address ul li:first-child {
		padding-left: 0;
	}
	
	#aboutMe article {
		width: 80%;
	}
	
	#aboutMe p {
		font-size: 1.5em;
	}		

	img#skills {
		position: absolute;
		left: 50px;
		width: 90%;
		height: auto;
		bottom: 100px;
	}
	
}

@media screen and (max-device-width: 2048px) and (orientation: landscape) {
	img#skills {
		position: absolute;
		bottom: -150px !important;
	}	

	img#skills {
		display: none;
	}	
}

