/*
Author: Jan Rybak
Twitter: @jendarybak
Author URL: http://www.rybak.in
*/

@charset "utf-8";
/* CSS Document */

/******************************
 GENERAL TEXT STYLES
*******************************/

html,body{
	width: 100%;
	height:100%;
	
	margin: 0;
	padding: 0;

	font-family: 'Lato', sans-serif;	
	font-weight: 300;
	font-size:1em;
	color:rgba(250,250,250,1);
	
	background-color: black;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 1.2em;	
}

h1 { font-size: 6.5em; }
h2 { font-size: 5.5em; }
h3 { font-size: 3.5em; }
h4 { font-size: 2.5em; }

p {
	line-height: 1.6em;
}

a, a:visited {
	color:rgba(250,250,250,1);
	text-decoration: underline;
}

a:hover {
	color:rgba(250,210,210,1);	/* #fcd2d2; */
	text-decoration: none;	
}

figure, img{
	border: 0;
	margin: 0;
	padding: 0;	
}

section, article, header, address, footer, nav, aside, hgroup, figure, figcaption { 
	display: block;
}

.hidden {
	display: none;
}

/******************************
 GENERAL SLIDE STYLES
*******************************/

section {
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
	background-attachment: fixed;	
}

.nextButton {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	opacity: 0.9;
	background-color: #333333;
	background-image: url("../images/arrow.png");
	z-index: 1000;		
}

.nextButton:hover{
	opacity: 1;
	cursor: pointer;
}

.lastButton {
	background-image: url("../images/arrow_up.png");
}

/******************************
 NAVIGATION
*******************************/
nav {
	position: absolute;
	width: 100%;
	height: 3em;
}

#nav-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: 10;		
}

nav ul {
	position: absolute;
	width: 100%;
	height: 1em;	
	padding: 1em 0;	
	z-index: 100;
}

nav ul li,
address ul li {
	float: left;
	padding:  0 40px 0 10px;	
	list-style: none;
	background: transparent url("../images/slash.png") no-repeat right;
}

nav ul li:first-child {
	padding-left: 20%;
}

address ul li:first-child {
	padding-left: 0;
}

nav ul a,
address ul a {
	text-decoration: none;	
}

nav ul li:hover,
address ul li:hover {
	background: transparent url("../images/backslash.png") no-repeat right;
}

/******************************
 SLIDE 1 
*******************************/
#intro article {
	position:absolute;
	left: 0;
	bottom: 28%;
	width: 100%;
	z-index: 200;
}

#intro article h1 {
	padding-left: 16%;
}

#intro #line {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#introBg {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	
	background: #e5e3cb url("../images/slide1/jan-rybak-bg1.jpg") 50% 0 no-repeat fixed;
	
	-webkit-background-size: 1920px 1440px;	
	
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 0;	
}

@media only screen and (max-device-width: 1024px){
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
	#introBg {
		-webkit-background-size: auto 1024px;					
		background: #e5e3cb url("../images/bg.jpg")  0 no-repeat fixed;			
	}
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) {
	#introBg {
		-webkit-background-size: auto 1400px;					
		background: #e5e3cb url("../images/bg.jpg")  0 no-repeat fixed;			
	}
}

/******************************
 SLIDE 2 
*******************************/
#aboutMe {
	background-color: #8197a4;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);	
}

#aboutMe article {
	position: absolute;
	top: 18%;
	left: 8%;
	width: 60%;
}

#aboutMe h2 {
	margin-bottom: 6%;
}

#aboutMe p {
	display: block;
}

img#skills {
	position: absolute;
	left: 50px;
	bottom: 0px;
	cursor: pointer;
	z-index: 0;
}


/******************************
 SLIDE 3
*******************************/
#contact {
	background-color: #847065;
}

#contact ul {
	margin-top: 30px;
}

#map_canvas {
	position: absolute;
	z-index: 100;
}

address {
	font-weight: 300;	
}

#contact article {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 350px;
	z-index: 300;
}