/*
Author: Jan Rybak
Twitter: @jendarybak
Author URL: http://www.rybak.in
*/

@charset "utf-8";
/* CSS Document */

/******************************
 GENERAL TEXT STYLES
*******************************/

html,body{
	width: 100%;
	height:100%;
	
	margin: 0;
	padding: 0;

	font-family: 'Lato', sans-serif;	
	font-weight: 200;
	color:rgba(250,250,250,1);
	
	background-color: black;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 140%;	
}

h1 { font-size: 650%; }
h2 { font-size: 550%; }
h3 { font-size: 350%; }
h4 { font-size: 250%; }

p {
	line-height: 160%;
	font-weight: 300;
}

a, a:visited {
	color:rgba(250,250,250,1);
	text-decoration: underline;
}

a:hover {
	color:rgba(250,210,210,1);	/* #fcd2d2; */
	text-decoration: none;	
}


img{
	border: 0;
}

section, article, header, footer, nav, aside, hgroup { 
	display: block;
}

/******************************
 GENERAL SLIDE STYLES
*******************************/

section {
	width:100%;
	height:100%;
	position: relative;
	background-attachment: fixed;	
}

.nextButton {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	opacity:0.9;
	background-color:#333333;
	background-image:url("../images/arrow.png");
	z-index: 10;		
}

.nextButton:hover{
	opacity:1;
	cursor:pointer;
}

.lastButton {
	background-image:url("../images/arrow_up.png");
}

/******************************
 NAVIGATION
*******************************/

ul.nav li {
	float: left;
	background: transparent url("../images/slash.png") no-repeat right;
	padding:  0 40px 0 10px;
	list-style: none;
}

ul.nav li:first-child {
	padding-left: 0px;
}

ul.nav a {
	text-decoration: none;	
}

ul.nav li:hover {
	background: transparent url("../images/backslash.png") no-repeat right;
}

/******************************
 SLIDE 1 
*******************************/
#intro .textbox {
	position:absolute;
	bottom:200px;
	left:200px;	
	z-index: 200;
}

#intro ul {
	margin-left: 60px;
}

#intro #line {
	position:absolute;
	bottom:0px;
	left:0px;
}

#introBg {
	position:absolute;
	top:0px;
	left:0px;
	
	width: 100%;
	height: 100%;
	
	background: #e5e3cb url("../images/bg.jpg") 50% 0 no-repeat fixed;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 0;	
}

/******************************
 SLIDE 2 
*******************************/
#aboutMe {
	background-color: #8197a4;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);	
}

#aboutMe .textbox {
	width: 960px;
	height: 500px;
	margin: 0 auto;
	padding: 100px 0;
	position: relative;
}

#aboutMe h2{
	line-height: 300%;
}

#aboutMe p{
	display: block;
	width: 700px;
	font-weight: 100;
}


/******************************
 SLIDE 3
*******************************/
#contact{
	background-color: #847065;
}

#contact ul {
	margin-top: 30px;
}

#contact .textbox {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 350px;
}